# IDE / Editor files
.vs
.vscode
.idea
.cache
__pycache__
benchmark/
uv.lock
.wyrm

*~
*.swp
*.bak
.pytest_cache
CMakeSettings.json
cmake-build-*
buildDir

# Builds
out
build
build.*
build-*
*.egg-info
node_modules
*.vsix
editors/vscode/LICENSE

# Temporary / working files
doc.tmp
gen
